<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Martin Ingram</string>
	<key>Builder Version</key>
	<string>10600.1.25</string>
	<key>CFBundleDisplayName</key>
	<string>New Tab Button</string>
	<key>CFBundleIdentifier</key>
	<string>com.meridal.safari.extension.newtabbutton</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>newtab.html</string>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string>newTabFromButton</string>
				<key>Identifier</key>
				<string>newTabFromButton</string>
				<key>Image</key>
				<string>plus@2x.png</string>
				<key>Label</key>
				<string>New Tab</string>
				<key>Palette Label</key>
				<string>New Tab</string>
				<key>Tool Tip</key>
				<string>Create a new tab</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict/>
	</dict>
	<key>Description</key>
	<string>Reinstates the New Tab button that was removed in Safari v8.0.</string>
	<key>DeveloperIdentifier</key>
	<string>KAFG9NVHZU</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict/>
	</dict>
	<key>Update Manifest URL</key>
	<string>https://github.com/dev-bloke/safari-extensions/blob/master/Updates/updates.plist</string>
	<key>Website</key>
	<string>https://github.com/dev-bloke/safari-extensions/wiki/New-Tab-Button</string>
</dict>
</plist>
