<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>empty</string>
		<key>Key</key>
		<string>tabContents</string>
		<key>Title</key>
		<string>New Tab Contents</string>
		<key>Titles</key>
		<array>
			<string>Empty</string>
			<string>Favorites</string>
			<string>URL</string>
		</array>
		<key>Type</key>
		<string>ListBox</string>
		<key>Values</key>
		<array>
			<string>empty</string>
			<string>favorites</string>
			<string>url</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<string>http://www.google.com</string>
		<key>Key</key>
		<string>url</string>
		<key>Title</key>
		<string>URL</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
